<!DOCTYPE html>
<html lang="en">
<head>
    <title>Names App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        body{
            padding: 20px;
        }
    </style>
</head>

<body>
    <h1>Submit Your Name</h1>
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    <form action="/app/names" method="post" class="mb-3">
        <input type="text" placeholder="Name" name="name" class="form-control mb-3" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/app/names">View Submitted Names</a>
</body>
</html>